{% extends "base.html" %}

{% block content %}
{% include "form_snippet.html" with title='Login' button='Login' %}
<small>Don't have an account? <a href="{% url 'register' %}">Register</a></small>
{% endblock content %}