{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">toodoo</h1>
  <p class="lead">Your website to manage To-Do lists from everywhere.</p>
  <hr class="my-4">
  <p>Feel free to sign-up today</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
  </p>
</div>
{% endblock content %}