{% extends "base.html" %}

{% block content %}
{% include "form_snippet.html" with title='Register' button='Register'%}
<small>Already have an account? <a href="{% url 'login' %}">Login</a></small>
{% endblock content %}