{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
    <div id="list_table" class="col-md p-fixed" style="width: 300px">
        <div class="list-group">
            {% if lists %}
                {% for list in lists %}
                    <div class="list-group-item list-group-item-action {% if list.id == active_list %}active{% endif %}"><a class="font-weight-bold text-dark" id="{{ list.id }}text" href="{% url 'display_list' list.id %}" style="word-wrap: break-word">{{ list.text }}</a>
                        <form class="form-inline" id="{{ list.id }}" style="display: none" method="POST" action="{% url 'modify_list' list.id %}">
                            <div class="input-group">
                                {% csrf_token %}
                                <input class="form-control" type="text" name="text" maxlength="1000" required="" value="{{ list.text }}" id="id_text">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" style="height: 38px; width: 38px; background: url({% static 'admin/img/../../../static/img/checked.svg' %}); background-repeat: no-repeat; background-position: 4px 4px; background-size: 30px 30px;" type="submit"/>
                                    <form method="POST" action="{% url 'delete_list' list.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-secondary p-1" style="height: 38px; width: 38px; background: url({% static 'admin/img/../../../static/img/trashcan.svg' %}); background-repeat: no-repeat; background-position: 3px 4px; background-size: 28px 28px"/>
                                    </form>
                                </span>
                            </div>
                        </form>
                        <div class="btn-group float-right" role="group">
                            <button id="{{ list.id }}editbutton" onclick="document.getElementById({{ list.id }}).style.display='inline';
            document.getElementById('{{ list.id }}text').style.display='none';document.getElementById('{{ list.id }}editbutton').style.display='none';document.getElementById('{{ list.id }}deletebutton').style.display='none';" class="btn btn-outline-secondary p-1" style="height: 38px; width: 38px; background: url({% static 'admin/img/../../../static/img/pencil.svg' %}); background-repeat: no-repeat; background-position: 3px 4px; background-size: 28px 28px"/>
                            <form method="POST" action="{% url 'delete_list' list.id %}">
                                {% csrf_token %}
                                <button id="{{ list.id }}deletebutton" class="btn btn-outline-secondary p-1" style="height: 38px; width: 38px; background: url({% static 'admin/img/../../../static/img/trashcan.svg' %}); background-repeat: no-repeat; background-position: 3px 4px; background-size: 28px 28px"/>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

          <div class="list-group-item form-inline">
              <form method="POST" class="input-group" action="{% url 'add_list' %}">
                  {% csrf_token %}
                  <input class="form-control" placeholder="Add new List" type="text" name="text" maxlength="1000" required="" id="id_text">
                  <span class="input-group-btn">
                      <button class="btn btn-primary p-1" style="height: 38px; width: 38px; background: url({% static 'admin/img/../../../static/img/checked.svg' %}); background-repeat: no-repeat; background-position: 4px 4px; background-size: 30px 30px" type="submit"/>
                  </span>
              </form>
          </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="m-3">
        <div class="row">
            <form class="input-group" method="POST" action="{% url 'add_list_item' active_list %}">
                {% csrf_token %}
                <input class="form-control" type="text" name="text" maxlength="1000" required="" placeholder="Add new task" id="id_text">
                <span class="input-group-btn">
                    <button class="btn btn-primary" style="height: 38px; width: 38px; background: url({% static 'admin/img/../../../static/img/checked.svg' %}); background-repeat: no-repeat; background-position: 4px 4px; background-size: 30px 30px;" type="submit"/>
                </span>
            </form>
        </div>
        <div class="row" style="margin-left: unset; margin-right: -30px">
        {% if list_items %}
            <div class="row w-100">
                <p><h3>To-Do</h3></p>
            </div>
            {% for list_item in list_items %}
                {% if list_item.list_id == active_list and list_item.completed == False %}
                    {% include 'list_item_snippet.html' with button_text='Done' url_name='done' %}
                {% endif %}

            {% endfor %}
            <div class="row w-100">
                <p><h3>Done</h3></p>
            </div>
            {% for list_item in list_items %}
                {% if list_item.list_id == active_list and list_item.completed == True %}
                    {% include 'list_item_snippet.html' with button_text='Undo' url_name='undo' %}
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        </div>
    </div>
    </div>
    {% include 'responsive_list.html' %}
{% endblock content %}