{% url path as url %}
{% if request.path == url %}
    <li class="nav-item active">
{% else %}
    <li class="nav-item">
{% endif %}
        <a class="nav-link" href="{{ url }}">{{ name }}</a>
    </li>