<nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top bg-dark">

    <a class="navbar-brand" href="{% url 'home' %}">
        toodoo
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
            {% include "nav_item_snippet.html" with name='Home' path='home' %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% include "dropdown_item_snippet.html" with name='Change Username' path='username_change' %}
                        {% include "dropdown_item_snippet.html" with name='Change Password' path='password_change' %}
                        {% include "dropdown_item_snippet.html" with name='Delete User' path='delete_user' %}
                    </div>
                </li>
                {% include "nav_item_snippet.html" with name='Logout' path='logout' %}
            {% else %}
                {% include "nav_item_snippet.html" with name='Login' path='login' %}
                {% include "nav_item_snippet.html" with name='Register' path='register' %}
            {% endif %}
        </ul>
    </div>
</nav>